{% extends 'base.html' %}
{% block content %}
    <div class="card mt-2">
        <div class="card-header">
            <h5 class="card-title mb-0">Crear Comentario</h5>
        </div>
        <div class="card-body">
            <form>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-8">
                        {% for fields in form %}
                            <div class="form-group">
                                {{ fields.label_tag }}
                                {{ fields }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            {% if profile.avatar %}
                                <img src="{{ profile.avatar.url }}" alt="Imagen de usuario" class="rounded-circel img-responsive mt-2" width="128" height="128">
                            {% endif %}
                            <div>
                                <small>{{ profile.user.username }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Crear Comentario</button>
            </form>
        </div>
    </div>
{% endblock %}