{% extends 'base.html' %}
{% block content %}
<div class="mx-auto d-table h-100 col-sm-10 col-md-8 col-lg-6">
    <div class="d-table-cell align-middle">
        <div class="text-center mt-4">
            <h2>Editar Perfil</h2>
            <p>Ingrese la informacion para editar su perfil</p>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="m-sm-4">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            {% for field in user_form %}
                                {{ field.label_tag }}
                                {{ field }}
                            {% endfor %}
                            {% for field in profile_form %}
                                {{ field.label_tag }}
                                {{ field }}
                            {% endfor %}
                        </div>
                        <div class="text-center mt-3">
                            <a href="{% url 'profiles:profil' %}" class="btn btn-danger">Cancelar</a>
                            <button class="btn btn-success">Cambiar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}