{% extends 'base.html' %}
{% block content %}
<div class="row mt-2">
    <div class="col-sm-12 col-md-5">
        <div class="card text-center">
            <div class="card-body">
                {% if profile.avatar %}
                    <img src="{{ profile.avatar.url }}" alt="" class="rounded-circle img-responsive mt-2" width="128" height="128">
                {% endif %}
                <h4 class="mb-0 mt-2">{{ profile.user.username }}</h4>
                <div class="text-left mt-3">
                    {% if profile.biography %}
                        <h4>Biografia :</h4>
                        <div class="text-muted mb-3">
                            {{ profile.biography }}
                        </div>
                    {% endif %}
                    {% if profile.user.first_name and profile.user.last_name %}
                        <p class="text-muted mb-2 font-13">
                            <strong>Nombre Completo</strong>
                            <span class="ml-2">{{ profile.user.first_name}} {{ profile.user.last_name }}</span>
                        </p>
                    {% endif %}
                    {% if profile.user.email %}
                        <p class="text-muted mb-2 font-13">
                            <strong>Nombre Completo</strong>
                            <span class="ml-2">{{ profile.user.email }}</span>
                        </p>
                    {% endif %}
                </div>
                <a href="" class="btn btn-success btn-sm mb-2">Editar</a>
            </div>
        </div>
    </div>
    <!-- <div class="cell-sm-12 cell-md-4">
        {% if profile.avatar %}
            <div class="img-container drop-shadow">
                <img src="{{ profile.avatar.url }}" alt="Imagen del Perfil">
            </div>
            <div class="mt-2">
                <a href="#" class="button primary">Cambiar foto</a>
            </div>
        {% endif %}
    </div>
    <div class="cell-sm-12 cell-md-8">
        <div class="card">
            <div class="card-header">
                Nombre de Usuario: {{ profile.user.username }}
                Biografia: {{ profile.biography }}
            </div>
        </div>
    </div> -->
</div>
{% endblock %}