{% url 'users:logout' as logout %}
{% url 'commentaries:commentarie' as commentarie %}
{% url 'commentaries:add_commentarie' as add_commentarie %}
{% url 'profiles:profil' as profil %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if request.path == commentarie %}active{% endif %}">
                <a class="nav-link" href="{{ commentarie }}">
                    Comentarios
                    <span><i class="fas fa-comment"></i></span>
                </a>
            </li>
            <li class="nav-item {% if request.path == add_commentarie %}active{% endif %}">
                <a class="nav-link" href="{{ add_commentarie }}">
                    Crear Comentarios
                    <span><i class="fas fa-comment-medical"></i></span>
                </a>
            </li>
            <li class="nav-item {% if request.path == profil %}active{% endif %}">
                <a class="nav-link" href="{{ profil }}">
                    Perfil
                    <span><i class="fas fa-user"></i></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ logout }}">
                    Cerrar Sesion
                    <span><i class="fas fa-sign-in-alt"></i></span>
                </a>
            </li>
        </ul>
    </div>
</nav>